<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--<display-name>Beleg 2: Songs Servlet</display-name>-->

    <servlet>
        <servlet-name>songsServlet</servlet-name>
        <servlet-class>de.htw.ai.kbe.servlet.Servlet</servlet-class>
        <init-param>
            <param-name>jsonPath</param-name>
            <param-value>C:\Users\lw\Downloads\KBE-WiSe18\songsServlet\songs.json</param-value>
        </init-param>
    </servlet>


    <!--  http://localhost:8080/POM_NAME/URL_PATTERN  -->
    <servlet-mapping>
        <servlet-name>songsServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
